.btn-prev {
  position: absolute;
  top: 50%;
  left: 30px;
  width: 50px;
  height: 50px;
}

button {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.btn-next {
  position: absolute;
  right: 30px;
  top: 50%;
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 768px) {
  .btn-next,
  .btn-prev {
    width: 35px;
    height: 35px;
  }
  .btn-next {
    right: 20px;
  }
  .btn-prev {
    left: 20px;
  }
  .fa-3x {
    font-size: 2em;
  }
}
